{{ define "main" }}
{{ if .IsTranslated }}
<aside>
  <div lang="en">This page is also available in the following languages:</div>
  <nav>
    {{ range .Translations }}
      {{ if eq .Language.Lang "en" }}🇬🇧
      {{ else if eq .Language.Lang "nl" }}🇳🇱
      {{ end }}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end}}
  </nav>
</aside>
{{ end }}
  {{ if eq .Params.toc true }}

  <div class="hl-toc">
	  {{ if eq .Language.Lang "nl" }}<h2>Inhoudsopgave</h2>
	  {{ else if eq .Language.Lang "en" }}<h2>Table of Contents</h2>
	  {{ end }}
	  {{ .TableOfContents }}</div>
  {{ end }}

  <div>{{ .Content }}</div>


{{ end }}
